page-home {
  .bg-grey {
    background-color:lightgrey;
  }

  .panel {
    margin-top:20px;
    position:relative;
    width:90%;
    left:5%;
    right:5;
    background-color: white;
    min-height:30%;
  }
}
